body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a1f44;
    color: white;
}

header {
    background-color: #123a7a;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #4fc3f7;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.container {
    padding: 20px;
}

img {
    width: 300px;
    border-radius: 10px;
}

footer {
    background-color: #123a7a;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
